<h1>Pilot Room
  <button class="add-button" [routerLink]="['pilots', 'new']">
    Dodaj
  </button>
</h1>
<app-pilot *ngFor="let pilot of pilots"
           [pilot]="pilot"
           [class.selected]="selectedPilot === pilot">
  <button class="edit-button" [routerLink]="['pilots', pilot.id]">
      Edytuj
  </button>
  <button class="select-button" *ngIf="selectedPilot !== pilot; else deselectButton" (click)="select(pilot)">
    Zaznacz
  </button>
  <ng-template #deselectButton>
    <button class="deselect-button" (click)="select(null)">
      Odznacz
    </button>
  </ng-template>
</app-pilot>

